# output dirs
out
target
cmake-build-debug
cmake-build-release
*.efi
*.o
image
# uefi files
*.zip
OVMF_X64.fd

# dialog dir
debug

# nasm output bin
*.bin
# font.o
font/font.o
# nasm list file
*.lst

# configuration
.idea
.vscode
